{% extends 'aplication/woheader.html' %}
{% load static %}

{% block title %}
    <div class="container text-center">
        <h2 class="p-2">Buscar Carrera</h2>
    </div>
{% endblock title %}


{% block content %}
    <div class="container d-flex justify-content-center">
        <form class="row pb-3" action="/buscarCarrera2" method="get">
            {% csrf_token %}
            <p class="text-center">Buscar: <input type="text" name="buscar" id="buscar"></p>
            <input class="btn btn-success" type="submit" value="Enviar">
        </form>
    </div>
    <div class="text-center">
        <a class="navbar-brand" href="{% url 'carreras' %}#{id-dinamico}"><b>Volver a "Carreras"</b></a>
    </div>
{% endblock content %}
